@use "/src/shared/styles/variables.scss" as v;

.header {
  display: none;

  width: 100%;
  height: var(--header-height);

  @media (max-width: v.$bp-laptops) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
