@use "/src/shared/styles/variables.scss" as v;

.image {
  &__movie-poster,
  &__actor-photo {
    width: 100%;
    height: auto;
    // aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
  }
}
