@use "../../app/styles/variables" as v;

.search-box {
  display: flex;
  align-items: center;
  justify-content: stretch;

  padding: 0 0 0 0.75em;
  border-radius: 6px;
  border: 1px solid rgba(v.$clr-semi-light, 0.3);

  &::before {
    content: "";
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1em;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/search_icon.svg);
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    color: inherit;
    background-color: initial;

    &::placeholder {
      color: rgba(v.$clr-semi-light, 0.3);
    }
  }
}
