@use "/src/shared/styles/variables.scss" as v;

$sidebar-width: 300px;
$sidebar-transition-duration: 0.15s;
$sidebar-timing-function: ease;

// $cnt-width-pr:

.app {
  max-width: v.$max-width;
  min-width: v.$min-width;
  width: 100%;
  margin: 0 auto;

  &__header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 6;

    background-color: v.$clr-font-black;
    display: none;

    @media (max-width: v.$bp-laptops) {
      display: block;
    }
  }

  &__main {
    min-height: calc(100vh - var(--header-height));
    background-color: rgb(v.$clr-light, 0.13);

    @media (min-width: v.$bp-laptops) {
      min-height: 100vh;
    }
  }

  &__main-wrapper {
    @media (min-width: v.$bp-tablets) {
      display: grid;
      grid-template: 1fr / 0 auto;
      transition: grid $sidebar-transition-duration $sidebar-timing-function;
    }
  }

  &--sidebar-open &__main-wrapper {
    @media (min-width: v.$bp-tablets) {
      grid-template: 1fr / calc($sidebar-width) auto;
    }
  }

  &__main-wrapper,
  &--sidebar-open &__main-wrapper {
    @media (min-width: v.$bp-laptops) {
      grid-template: 1fr / min-content auto;
    }

    @media (min-width: v.$bp-large) {
      grid-template: 1fr / minmax(min-content, 25%) auto;
    }
  }

  &__main-section_sidebar {
    background-color: v.$clr-dark;

    position: absolute;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    left: 0;
    transform: translateX(-100%);

    transition: transform $sidebar-transition-duration $sidebar-timing-function;

    @media (min-width: v.$bp-tablets) {
      background-color: inherit;

      position: sticky;
      width: 100%;

      transform: translateX(0);
    }

    @media (min-width: v.$bp-laptops) {
      position: sticky;
      top: 0;
      height: 100vh;
    }
  }

  &--sidebar-open &__main-section_sidebar {
    transform: translateX(0);
  }

  &__sidebar {
    height: 100%;
    padding: 2em 4vw;

    @media (min-width: v.$bp-tablets) {
      padding: 2em 3vw;

      position: absolute;
      top: 0;
      left: -2vw;
      width: $sidebar-width;
      transform: translateX(calc(-2vw - 100%));

      transition: transform $sidebar-transition-duration
        $sidebar-timing-function;
      background-color: v.$clr-dark;
    }

    @media (min-width: v.$bp-laptops) {
      transform: translateX(-3vw);
      position: static;
      width: 100%;
    }

    @media (min-width: v.$bp-large) {
      padding: 2em 2vw;
      transform: translateX(-2vw);
    }
  }

  &--sidebar-open &__sidebar {
    @media (min-width: v.$bp-tablets) {
      transform: translateX(-1.5vw);
    }

    @media (min-width: v.$bp-laptops) {
      transform: translateX(-2vw);
    }
  }

  &__main-section_page {
    padding: 2em 0;
  }

  &--sidebar-open &__main-section_page {
    position: fixed;
    top: var(--header-height);
    left: 4vw;
    width: 92vw;
    z-index: -1;

    @media (min-width: v.$bp-tablets) {
      position: static;
      z-index: 1;
      width: 100%;
    }

    @media (min-width: v.$bp-large) {
    }
  }
}
