@use "/src/shared/styles/variables.scss" as v;

.btn {
  display: block;
  margin: 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;

  font-size: var(--fs-big);
  font-weight: v.$fw-bold;
  color: v.$clr-font-black;

  background: v.$clr-accent;

  // Size modifiers
  &--size-m {
    padding: 0.7em 2em;
  }

  &--size-l {
    padding: 0.8em 3em;
    @media (min-width: v.$bp-mobile) {
      padding: 0.6em 4em;
    }
  }

  &--size-xl {
    padding: 1.5em 3em;
  }

  // Width modifiers
  &--width-full {
    width: 100%;
  }

  &--width-auto {
    width: auto;
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background: v.$clr-accent-disabled;
    color: v.$clr-font-black-disabled;
    cursor: default;
    opacity: 1;
  }
}
