@use "/src/shared/styles/variables.scss" as v;

.movie {
  @media (min-width: v.$bp-tablets) {
    display: flex;
    justify-content: space-between;
  }

  &__mainPoster {
    width: 100%;
    border-radius: 6px;

    @media (min-width: v.$bp-tablets) {
      width: 26%;
      align-self: flex-start;
    }
  }

  &__topRightContainer {
    @media (min-width: v.$bp-tablets) {
      width: 70%;
    }
  }

  &__title {
    margin: 0.5em 0 0.25em;

    font-size: var(--fs-h3);
    font-weight: v.$fw-bold;

    @media (min-width: v.$bp-tablets) {
      margin: 0 0 0.25em;
    }
  }

  &__releaseYear {
    font-weight: v.$fw-light;
  }

  &__genre,
  &__duration {
    display: inline-block;
    margin: 0 0 3em;

    color: v.$clr-light;
  }

  &__genre {
    margin-right: 1em;
    word-spacing: 0.3em;
  }

  &__duration {
    &::before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: v.$clr-semi-light;
      margin-right: 1em;
      margin-bottom: 0.25em;
    }
  }

  &__overviewTitle {
    margin: 0 0 0.5em;

    font-size: var(--fs-h5);
    font-weight: v.$fw-bold;
    color: v.$clr-light;
  }

  &__overview {
    margin: 0 0 3.5em;
  }

  &__scoreBtnContainer {
    display: flex;
    align-items: center;
  }

  &__scoreContainer {
    padding: 1em;
    border: 1px solid v.$clr-accent-dark;
    border-radius: 8px;
    margin-right: 2.5em;
    background: rgba(v.$clr-font-dark, 0.1);
  }

  &__scoreHeader {
    display: block;
    margin-bottom: 1em;

    font-size: var(--fs-extra-big);
    font-weight: v.$fw-bold;
    text-align: center;
  }

  &__score {
    font-size: var(--fs-h3);
    font-weight: v.$fw-bold;
    color: v.$clr-accent;

    margin: 0;
    text-align: center;
  }
}
