@use "../../variables.scss" as v;

.error {
  margin: 1em 0;

  font-weight: v.$fw-reg;
}

.customMessage {
  font-size: var(--fs-extra-big);
  color: v.$clr-accent-dark;
}

.apiMessage {
  font-family: "Courier New", monospace;
  font-size: var(--fs-middle);
  color: v.$clr-font-dark;
}
