@use "../../../../variables.scss" as v;
.btn {
  font-size: var(--fs-big);
  font-weight: v.$fw-bold;
  color: v.$clr-font-black;
  padding: 0.8em 3em;
  background: v.$clr-accent;
  border: none;
  border-radius: 6px;
  margin: 0;
  cursor: pointer;

  @media (min-width: v.$bp-mobile) {
    width: unset;
    padding: 0.6em 4em;
  }

  &:disabled {
    background: v.$clr-accent-disabled;
    color: v.$clr-font-black-disabled;
    cursor: default;
  }
}
