@use "/src/shared/styles/variables.scss" as v;

.box {
  padding: 1.25em;
  border: 1px solid v.$clr-accent-dark;
  border-radius: 8px;
  background: rgba(v.$clr-semi-light, 0.1);
}

.title {
  margin: 0 0 0.5em;
  font-size: calc(0.75 * var(--fs-h1));

  @media (min-width: 410px) {
    font-size: var(--fs-h1);
  }
  @media (min-width: v.$bp-mobile) {
    font-size: calc(0.9 * var(--fs-h1));
  }
  @media (min-width: 500px) {
    font-size: var(--fs-h1);
  }
}

.title span {
  color: v.$clr-accent;
}

.paragraph {
  margin: 0;
  font-size: var(--fs-extra-big);
}

.secondParagraph {
  margin-top: 0.8em;
}

.addIcon,
.watchedIcon {
  margin: 0 0.25em;
  vertical-align: middle;
}

.addIcon {
  height: 1.75em;
}

.watchedIcon {
  height: 1.25em;
}
