@use "/src/shared/styles/variables.scss" as v;

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  z-index: 100;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal {
  width: 85vw;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;

  transform: scale(0.5);
  transition: 0.4s all;

  @media (min-width: v.$bp-mobile) {
    width: 75vw;
  }
  @media (min-width: v.$bp-tablets) {
    width: 700px;
  }

  &.active {
    transform: scale(1);
  }
}

.header {
  color: black;
  font-size: var(--fs-big);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1em;

  @media (min-width: v.$bp-tablets) {
    justify-content: flex-start;
    gap: 1em;
  }
}

.btn {
  width: 48%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: v.$clr-accent;

  font-size: var(--fs-big);
  color: v.$clr-font-black;

  transition: background-color 0.15s;

  @media (min-width: v.$bp-tablets) {
    width: auto;
    padding: 0.6em 3em;
  }

  &:hover {
    background-color: rgba(v.$clr-accent, 0.6);
  }

  &:disabled {
    background-color: rgba(v.$clr-accent, 0.1);
    cursor: not-allowed;
  }
}
