@use "../../assets/styles/variables.scss" as v;

// Profile styles
.profile {
  // Add styles as needed
}

// Title styles
.title {
  max-width: 70%;
  margin: 0;
  margin-bottom: 2rem;

  color: v.$clr-font-light;
  font-size: var(--fs-h4);
  font-weight: v.$fw-reg;
}
