@use "/src/shared/styles/variables.scss" as v;

.addBtn {
  position: absolute;
  top: 0;
  left: 0;

  width: 36px;
  height: 52.5px;
  border: none;
  padding: 0;

  background-color: transparent;
  background-image: url("@/public/images/ribbon_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;

  transition: background-image 0.1s ease-in-out;

  @media (min-width: v.$bp-laptops) {
    width: 24px;
    height: 35px;
  }

  &:hover {
    background-image: url("@/public/images/ribbon_light_icon.svg");
  }
}
