@use "/src/shared/styles/variables.scss" as v;

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: v.$clr-font-light;
}
