@use "../../app/styles/variables" as v;

.mobile-header {
  display: none;

  width: 100%;
  height: var(--header-height);

  @media (max-width: v.$bp-laptops) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
