@use "../../../../../variables.scss" as v;

// General form styles
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$clr-font-light;
}

// Avatar container styles
// .avatarContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 2em;
// }

// Avatar styles
// .avatar {
//   width: 130px;
//   height: 130px;
//   border-radius: 50%;
//   object-fit: cover;

//   // Avatar styles for tablets and larger devices
//   @media (min-width: v.$bp-tablets) {
//     width: 170px;
//     height: 170px;
//   }
// }

// Hide file input
// .fileInput {
//   display: none;
// }

// Avatar label styles
// .avatarLabel {
//   display: flex;
//   align-items: center;
//   gap: 0.5rem;
//   cursor: pointer;
//   font-size: var(--fs-reg);
// }

// Submit button styles
.submitBtn {
  padding: 1em 3em;
  margin-top: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--fs-big);
  font-weight: v.$fw-bold;
  color: v.$clr-font-black;
  background-color: v.$clr-accent;
}
