@use "/src/shared/styles/variables.scss" as v;

.sidebar {
  display: flex;
  flex-direction: column;

  &__create-link {
    display: block;
    white-space: nowrap;
  }
}

.top-section {
  & > * {
    margin-bottom: 1.25rem;
  }
}
