// scss variables are used for non changeable values
// css variables are used for values that change depending on screen size

$ff-primary: "Lato", sans-serif;
$ff-logo: "Archivo", sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;
$fw-logo: 800;

$clr-light: #fff;
$clr-semi-light: #d9d9d9;
$clr-dark: #000000;
$clr-semi-dark: #1f1f1f;
$clr-accent: #f33f3f;
$clr-accent-disabled: #962f2f80;
$clr-accent-dark: #a41b1b;
$clr-accent-hover: #ecbfc0;
$clr-second-accent: #00bb34;

$clr-font-light: #e1e1e1;
$clr-font-dark: #9a9a9a;
$clr-font-black: #141414;
$clr-font-black-disabled: #141414;

$max-width: 1920px;
$bp-large: 1200px;
$bp-laptops: 1025px;
$bp-tablets: 768px;
$bp-mobile: 480px;
$min-width: 320px;

:root {
  --fs-h1: 2.25rem; //36px
  --fs-h2: 2.125rem; //34px
  --fs-h3: 2rem; //32px
  --fs-h4: 1.8rem; //28.8px
  --fs-h5: 1.125rem; //18px

  --fs-extra-big: 1.125rem; //18px
  --fs-big: 1rem; //16px
  --fs-reg: 0.9rem; //14.4px
  --fs-middle: 0.8rem; //12.8px
  --fs-small: 0.6rem; //9.6px

  // Layout styles
  --header-height: 4.5rem; //72px
  --footer-height: 4.5rem; //72px

  --vertical-padding: 1.25rem; //20px
  --horizontal-padding: 1.25rem; //20px

  @media (min-width: $bp-mobile) {
    --fs-h1: 2.5rem; //40px
    --fs-h2: 2.375rem; //38px
    --fs-h3: 2.25rem; //36px
    --fs-h4: 2rem; //32px
    --fs-h5: 1.25rem; //20px

    --fs-extra-big: 1.25rem; //20px
    --fs-big: 1.125rem; //18px
    --fs-reg: 1rem; //16px
    --fs-middle: 0.875rem; //14px
    --fs-small: 0.625rem; //10px

    // Layout styles
    --header-height: 5rem; //80px
    --footer-height: 5rem; //80px

    --vertical-padding: 1.5rem; //24px
    --horizontal-padding: 1.5rem; //24px
  }
}
