// scss variables are used for non changeable values
// css variables are used for values that change depending on screen size

$ff-primary: "Lato", sans-serif;
$ff-logo: "Archivo", sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;
$fw-logo: 800;

$clr-light: #fff;
$clr-semi-light: #d9d9d9;
$clr-dark: #000000;
$clr-semi-dark: #1f1f1f;
$clr-accent: #f33f3f;
$clr-accent-disabled: #962f2f80;
$clr-accent-dark: #a41b1b;
$clr-accent-hover: #ecbfc0;
$clr-second-accent: #00bb34;

$clr-font-light: #e1e1e1;
$clr-font-dark: #9a9a9a;
$clr-font-black: #141414;
$clr-font-black-disabled: #141414;

$max-width: 1920px;
$bp-large: 1200px;
$bp-laptops: 1025px;
$bp-tablets: 768px;
$bp-mobile: 480px;
$min-width: 320px;
