@use '../variables' as v;

.create-watchlist-page {

    &__title {
        margin: 0 0 1.5em;

        font-size: var(--fs-h4);
        font-weight: v.$fw-reg;;
    }

    &__form {
        
    }

    &__form > * {
        display: block;
    }

    &__label {
        font-size: var(--fs-big);
        font-weight: v.$fw-bold;
        margin-bottom: 0.3em;
    }

    &__name, &__description {
        font-size: var(--fs-extra-big);
        
        width: 100%;
        padding: 0.5em 1em;
        border: 1px solid v.$clr-font-light;
        border-radius: 6px;
        background-color: unset;
        margin-bottom: 1.5em;
    }

    &__name {
        
    }

    &__description {
        resize: none;
        height: 7em;
    }

    &__btn {
        font-size: var(--fs-big);
        font-weight: v.$fw-bold;
        color: v.$clr-font-black;

        padding: 0.6em 3em;
        background: v.$clr-accent;
        border: none;
        border-radius: 6px;
    }
}