@use '../variables' as v;

.edit-watchlist-page {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin-bottom: 3em;
    }

    &__header {
        font-size: var(--fs-h4);
        margin: 0;
    }

    &__delete-btn {
        padding: 0;
        border: 0;
        
        text-decoration: underline;
        color: v.$clr-accent;
        background-color: inherit;

        &:hover {
            text-shadow: v.$clr-accent-dark 1px 0 5px;
        }
    }

    &__form {
        
    }

    &__form > * {
        display: block;
    }

    &__label {
        font-size: var(--fs-big);
        font-weight: v.$fw-bold;
        margin-bottom: 0.3em;
    }

    &__name, &__description {
        font-size: var(--fs-extra-big);
        
        width: 100%;
        padding: 0.5em 1em;
        border: 1px solid v.$clr-font-light;
        border-radius: 6px;
        margin-bottom: 1.5em;
        background-color: unset;
    }

    &__name {
        
    }

    &__description {
        resize: none;
        height: 7em;
    }

    &__movies-title {
        font-size: var(--fs-big);
        font-weight: v.$fw-bold;

        margin-bottom: 0.3em;
    }

    &__movies-list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 2.5em;
    }

    &__movies-item {
        display: flex;
        align-items: center;

        height: 5em;
        border: 1px solid v.$clr-font-light;
        border-radius: 4px;
        margin-bottom: 0.8em;
    }

    &__movie-img {
        max-height: 100%;
        margin-right: 1em;
    }

    &__movie-name {

    }

    &__movie-year {
        font-weight: v.$fw-light;
    }

    &__movie-remove-btn {
        margin-left: auto;
        margin-right: 1em;
        padding: 0.65em;
        border: 1px solid v.$clr-accent;
        border-radius: 4px;
        background-color: inherit;
    }

    &__btns-container {
        display: flex;
        gap: 1em;

        justify-content: space-between;

        @media (min-width: v.$bp-mobile) {
            justify-content: flex-start;
        }
    }

    &__btn {
        font-size: var(--fs-big);
        font-weight: v.$fw-bold;
        color: v.$clr-font-black;

        width: 48%;
        padding: 1em 2em;
        background: v.$clr-accent;
        border: none;
        border-radius: 6px;

        @media (min-width: v.$bp-mobile) {
            width: unset;
            padding: 0.6em 4em;
        }
    }

    &__btn_dark {
        background-color: v.$clr-semi-light;
    }
}