@use '../variables' as v;

.history-page {

    &__clear-btn {
        display: block;
        padding: 0;
        border: none;
        margin: 0 0 calc(40/16)*1em auto;
        background-color: inherit;

        font-weight: v.$fw-bold;
        font-size: var(--fs-reg);
        color: v.$clr-accent;

        &:hover {
            text-shadow: v.$clr-accent-dark 1px 0 5px;
        }
    }
    
    &__list {
        margin: 0;
        padding: 0;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 30px;
    }
    
    &__item {
        list-style: none;
    }

    &__link {
        
    }

    &__movie-card {
        
    }
}