@use '../variables' as v;

.home {
    flex: 2 2 80%;
    padding: 50/16*1em 70/16*1em 60/16*1em 50/16*1em;
    background-color: rgba(v.$clr-light, 0.1);

    &__popular-title {
        margin: 1em 0;

        font-family: v.$ff-primary;
        font-size: var(--fs-h4);
        font-weight: v.$fw-reg;
        line-height: 1;
        color: v.$clr-font-light;
    }
    
    &__popular-list {
        margin: 0;
        padding: 0;
        width: 100%;

    }
    
    &__popular-item {
        list-style: none;
    }
}