@use '../variables' as v;

.home {
    padding: calc(50/16)*1em calc(70/16)*1em calc(60/16)*1em calc(50/16)*1em;
    background-color: rgba(v.$clr-light, 0.1);

    &__welcome {
        width: 100%;
    }

    &__search-box {
        margin-top: calc(40/16)*1em;
        width: 100%;
    }

    &__popular-title {
        margin: 1em 0;

        font-family: v.$ff-primary;
        font-size: var(--fs-h4);
        font-weight: v.$fw-reg;
        line-height: 1;
        color: v.$clr-font-light;
    }
    
    &__popular-list {
        margin: 0;
        padding: 0;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: calc((100% - 8*150px)/7);
        @media (max-width: 1800px) {gap: calc((100% - 7*150px)/6);}
        @media (max-width: 1600px) {gap: calc((100% - 6*150px)/5);}
        @media (max-width: 1400px) {gap: calc((100% - 5*150px)/4);}
        @media (max-width: 1250px) {gap: calc((100% - 4*150px)/3);}
        @media (max-width: 1075px) {gap: calc((100% - 3*150px)/2);}
        @media (max-width: 900px) {gap: calc((100% - 2*150px)/1);}
        @media (max-width: 750px) {}
        
        & > * {margin-bottom: 15px;}
    

    }
    
    &__popular-item {
        list-style: none;
    }

    &__movie-card {
        
    }
}