@use '../variables' as v;

.my-lists-page {

    &__create-btn {
        display: block;
        padding: 0.7em;
        border-radius: 6px;
        margin-bottom: 1.25em;
        background: v.$clr-accent;
        
        font-weight: v.$fw-bold;
        color: v.$clr-font-black;
        text-align: center;

        &:hover {
            opacity: 0.9;
            border-color: v.$clr-accent
        }
    }

    &__header {
        margin: 0 0 0.6em;

        font-size: var(--fs-h5);
        color: v.$clr-font-light;
    }

    &__watchlists {
        margin: 0;
        padding: 0;
    }

    &__watchlist-item {
        margin: 0;
        border-radius: 6px;
        background: rgba(v.$clr-semi-light, 0.1);

        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:hover {
            outline: 1px solid v.$clr-semi-light;
        }
    }

    &__watchlist-link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5em 0.75em;
        color: v.$clr-light;

        &:before {
            content: "";
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            min-height: 1.25rem;
            min-width: 1.25rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 1em;
            background-image: url(../images/watchlist_icon.svg);
        }


    }

}