@use '../variables' as v;

.watchlist-page {
    font-weight: v.$fw-bold;

    &__header-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.6em;
    }

    &__header {
        font-size: var(--fs-h2);
        margin: 0;
        margin-right: 1.3em;
    }

    &__edit {
        padding: 0;
        border: 0;
        transform: translateY(0.25em);
    }

    &__edit-icon {
        width: 1.55em;
    }

    &__about-title {
        font-size: var(--fs-h5);
        margin: 0;
        margin-bottom: 0.5em;
    }

    &__about {
        font-weight: v.$fw-reg;
        margin: 0;
        margin-bottom: 4em;
    }

    body.open &__boxes-container, &__boxes-container {
        list-style: none;
        display: flex;
        margin: 0;
        margin-bottom: 4em;
        padding: 0;
        
        justify-content: space-between;
        gap: 1em;

        @media (min-width: v.$bp-tablets) {
            gap: 1.2em;
        }

        @media (min-width: v.$bp-laptops) {
            gap: 2em;
        }
    }

    &__boxes-container {

        @media (min-width: v.$bp-tablets) {
            justify-content: flex-start;
        }
    }

    body.open &__boxes-container {
        @media (min-width: v.$bp-tablets) {
            justify-content: space-between;
        }

        @media (min-width: v.$bp-laptops) {
            justify-content:  flex-start;
        }
    }

    &__box {
        padding: 1em;
        border: 1px solid v.$clr-accent-dark;
        border-radius: 8px;
        background: rgba(v.$clr-font-dark, 0.1);
    }

    &__box-name {
        display: block;
        margin-bottom: 1em;

        font-size: calc(0.7*var(--fs-extra-big));
        text-align: center;

        @media (min-width: v.$bp-mobile) {
            font-size: calc(0.8*var(--fs-extra-big));
        }

        @media (min-width: v.$bp-tablets) {
            font-size: var(--fs-extra-big);
        }
    }

    &__box-content {
        font-size: calc(0.6*var(--fs-h2));
        color: v.$clr-accent;

        margin: 0;
        text-align: center;

        @media (min-width: v.$bp-mobile) {
            font-size: calc(0.7*var(--fs-h2));
        }

        @media (min-width: v.$bp-tablets) {
            font-size: var(--fs-h2);
        }
    }

    &__movie-list {

    }

    &__movie-item {
        list-style: none;
    }

    &__link {
        
    }

    &__movie-card {
        
    }

}