@use "../../../../assets/styles/variables.scss" as v;

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.link {
  color: v.$clr-accent;
  text-decoration: none;
  cursor: pointer;
}
