@use "/src/shared/styles/variables.scss" as v;

.container {
  padding: 0.5em 1em;
}

.img {
  margin: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid transparent;

  &:hover {
    border-color: v.$clr-light;
  }
}
