@use "../../../../variables.scss" as v;

// General form styles
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$clr-font-light;
}

// Form group styles
.formGroup {
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px;
}

// Text label styles
.textLabel {
  display: block;
  font-size: var(--fs-extra-big);
  font-weight: v.$fw-bold;
  margin-bottom: 0.3em;
}

// Text input styles
.textInput {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid v.$clr-font-light;
  border-radius: 5px;
  background-color: inherit;
  font-size: var(--fs-big);

  // Placeholder styles
  &::placeholder {
    font-size: var(--fs-small);
  }
}

// Submit button styles
.submitBtn {
  width: 100%;
  padding: 1em 3em;
  margin: 1em 0 0.5em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--fs-big);
  font-weight: v.$fw-bold;
  color: v.$clr-font-black;
  background-color: v.$clr-accent;

  @media (min-width: v.$bp-mobile) {
    width: unset;
  }
}

.link {
  color: v.$clr-accent;
  text-decoration: none;
  cursor: pointer;
}
