@use "/src/shared/styles/variables.scss" as v;

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.625em 0.75em;
  border-radius: 6px;

  @media (min-width: v.$bp-tablets) {
    justify-content: start;
  }

  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1em;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: v.$clr-semi-dark;
  }
}

.link_home {
  margin-bottom: 1.25em;
  &:before {
    background-image: url(/images/home_icon.svg);
  }
}

.link_history {
  margin-bottom: 2em;
  &:before {
    background-image: url(/images/history_icon.svg);
  }
}
