@use '../variables' as v;

.actor-card {
    border-radius: 4px;
    background: #1A1A1A;
    height: 100%;

    &__photo {
        width: 100%;
    }

    &__name {
        margin: 0.75em 0 0.75em;
        padding: 0 0.75em 0 0.75em;
    }

    &__role {
        font-size: var(--fs-middle);
        margin: 0.75em 0 0;
        padding: 0 0.75em 0.75em;
    }
}