@use '../variables' as v;

.actor-card {
    border-radius: 4px;
    background: #1A1A1A;

    &__photo {
        width: 100%;
    }

    &__name {
        margin: calc(12/16)*1em 0 calc(12/16)*1em;
        padding: 0 calc(12/16)*1em 0 calc(12/16)*1em;
    }

    &__role {
        font-size: var(--fs-middle);
        margin: calc(12/16)*1em 0 0;
        padding: 0 calc(12/16)*1em calc(12/16)*1em;
    }
}