@use '../variables' as v;

.add-to-list {

    &__top-text {
        color: black;
        font-size: var(--fs-big);
    }

    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin-top: 1em;

        @media (min-width: v.$bp-tablets) {
            justify-content: flex-start;
            gap: 1em;
        }
    }

    &__btn {
        width: 48%;
        padding: 0.5em 1em;
        border: none;
        border-radius: 5px;
        background-color: v.$clr-accent;
        
        font-size: var(--fs-big);
        color: v.$clr-font-black;
        
        transition: background-color 0.15s;

        @media (min-width: v.$bp-tablets) {
            width: auto;
            padding: 0.6em 3em;
        }

        &:hover {
            background-color: rgba(v.$clr-accent, 0.6);
        }

        &:disabled {
            background-color: rgba(v.$clr-accent, 0.1);
            cursor: not-allowed;
        }
    }
}