@use '../variables' as v;

.mobile-header {
    width: 100%;
    padding: calc(20/16)*1em calc(70/16)*1em calc(20/16)*1em calc(50/16)*1em;
    background-color: v.$clr-font-black;

    font-family: v.$ff-primary;
    font-size: var(--fs-reg);
    font-weight: v.$fw-reg;
    line-height: 1;
    color: v.$clr-font-light;

    display: none;

    
    @media (max-width: v.$bp-laptops) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {

    }

    &__logo {
        margin: 0;

        font-family: v.$ff-logo;
        font-size: var(--fs-h1);
        font-weight: v.$fw-logo;
        color: v.$clr-accent;
    }

    &__burger {
        
    }
}