@use '../variables' as v;

.movie-card {
    border-radius: 4px;
    background-color: v.$clr-semi-dark;
    position: relative;

    &__add-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 52.5px;

        background-image: url("../images/ribbon_icon.svg");
        background-repeat: no-repeat;
        background-size: contain;

        transition: background-image 0.1s ease-in-out;

        @media (min-width: v.$bp-laptops) {
            width: 24px;
            height: 35px;
        }

        &:hover {
            background-image: url("../images/ribbon_light_icon.svg");
        }
    }

    &__poster {
        width: 100%;
    }

    &__rating-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 0.3em;
        margin-top: 0.3em;
    }

    &__smile {
        width: 1.3rem;
    }

    &__rating {
        display: flex;
        align-items: flex-start;
        margin-left: 0.3em;
    }

    &__max-rating {
        font-size: var(--fs-small);
        margin-left: 0.1em;
    }

    &__title {
        margin: 0.3em 0 0;
        padding: 0 0.625em;
    }

    &__year {
        font-weight: v.$fw-light;
        margin: 0;
        padding: 0 0.625em 0.625em;
    }
}