@use '../variables' as v;

.sidebar {
    display: flex;
    flex-direction: column;

    &__top {

    }

    &__logo-link {
        display: none;

        @media (min-width: v.$bp-laptops) {
            display: block;
        }
    }

    &__logo {
        margin-top: 0;
        margin-bottom: 1em;
        
        font-family: v.$ff-logo;
        font-size: var(--fs-h1);
        font-weight: v.$fw-logo;
        color: v.$clr-accent;
    }

    &__navigation {
        
    }

    &__navigation-link {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.625em 0.75em;
        border-radius: 6px;

        @media (min-width: v.$bp-tablets) {
            justify-content: start;
        }

        cursor: pointer;

        &:before {
            content: "";
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            margin-right: 1em;

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:hover {
            background-color: v.$clr-semi-dark;
        }

        &.active {
            color: v.$clr-accent;;
        }
    }

    &__navigation-link_home {
        margin-bottom: 1.25em;
        &:before {
            background-image: url(../images/home_icon.svg);
        }
    }

    &__navigation-link_history {
        margin-bottom: 2em;
        &:before {
            background-image: url(../images/history_icon.svg);
        }
    }

    &__create-btn {
        display: block;
        width: 100%;
        padding: 0.7em 2em;
        border-radius: 6px;
        margin-bottom: 1.25em;
        background: v.$clr-accent;
        
        font-weight: v.$fw-bold;
        color: v.$clr-font-black;
        text-align: center;
        white-space: nowrap;

        &:hover {
            opacity: 0.9;
            border-color: v.$clr-accent
        }
    }

    &__watchlists-header {
        padding: 1em 0 1em 0.25*1em;
        border-top: 1px solid rgba(217, 217, 217, 0.3);
        margin: 0;

        text-align: center;

        font-size: var(--fs-h5);
        color: v.$clr-font-dark;

        @media (min-width: v.$bp-tablets) {
            text-align: start;
        }
    }

    &__bottom {
        position: relative;
        height: 100%;
    }

    &__watchlists {
        padding: 0;
        margin: 0;

        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        overflow-y: auto;
        
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    &__watchlist-item {
        padding: 0;
        border-radius: 6px;

        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    &__watchlist-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.5em 0.75em;

        @media (min-width: v.$bp-tablets) {
            justify-content: start;
        }

        &:before {
            content: "";
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            min-height: 1.25rem;
            min-width: 1.25rem;
            margin-right: 1em;

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../images/watchlist_icon.svg);
        }

        &:hover {
            background-color: v.$clr-semi-dark;
        }

        &.active {
            color: v.$clr-accent;
        }
    }
}