@use '../variables' as v;

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: calc(20/16)*1em calc(40/16)*1em calc(20/16)*1em calc(30/16)*1em;
    background-color: v.$clr-dark;

    font-family: v.$ff-primary;
    font-size: var(--fs-reg);
    font-weight: v.$fw-reg;
    line-height: 1;
    color: v.$clr-font-light;

    &__logo {
        margin-top: 0;
        margin-bottom: 1em;
        
        font-family: v.$ff-logo;
        font-size: var(--fs-h1);
        font-weight: v.$fw-logo;
        color: v.$clr-accent;
    }

    &__navigation {
        
    }

    &__navigation-link {
        display: flex;
        align-items: center;
        padding: calc(10/16)*1em calc(12/16)*1em;
        border-radius: 6px;

        color: v.$clr-font-light;
        cursor: pointer;

        &:before {
            content: "";
            display: inline-block;
            height: calc(20/16)*1rem;
            width: calc(20/16)*1rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: calc(15/16)*1em;
        }

        &:hover {
            background-color: v.$clr-semi-dark;
            color: v.$clr-font-light;
        }
    }

    &__navigation-link_home {
        margin-bottom: calc(20/16)*1em;
        &:before {
            background-image: url(../images/home_icon.svg);
        }
    }

    &__navigation-link_history {
        margin-bottom: calc(30/16)*1em;
        &:before {
            background-image: url(../images/history_icon.svg);
        }
    }

    &__create-btn {
        display: block;
        width: 100%;
        padding: calc(11/16)*1em;
        border-radius: 6px;
        margin-bottom: calc(20/1)6*1em;
        background: v.$clr-accent;
        
        font-weight: v.$fw-bold;
        color: v.$clr-font-black;
        text-align: center;

        &:hover {
            opacity: 0.9;
            border-color: v.$clr-accent
        }
    }

    &__watchlists-header {
        padding: 1em 0;
        border-top: 1px solid rgba(217, 217, 217, 0.3);
        margin: 0;
        margin-left: calc(5/20)*1em;

        font-size: var(--fs-h5);
        color: v.$clr-font-dark;
    }

    &__bottom {
        position: relative;
        height: 100%;
    }

    &__watchlists {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    &__watchlist-item {
        display: flex;
        align-items: center;
        padding: 0;
        border-radius: 6px;

        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        
    }

    &__watchlist-link {
        width: 100%;
        padding: calc(8/16)*1em calc(12/16)*1em;
        color: #E1E1E1;

        &:before {
            content: "";
            display: inline-block;
            height: calc(20/16)*1rem;
            width: calc(20/16)*1rem;
            min-height: calc(20/16)*1rem;
            min-width: calc(20/16)*1rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 1em;
            background-image: url(../images/watchlist_icon.svg);
        }

        &:hover {
            background-color: v.$clr-semi-dark;
        }
    }
}