@use '../variables' as v;

.welcome {
    padding: 1.25em;
    border: 1px solid v.$clr-accent-dark;
    border-radius: 8px;
    background: rgba(v.$clr-semi-light, 0.1);

    &__title {
        margin: 0 0 0.5em;
        font-size: calc(0.75*var(--fs-h1));

        @media (min-width: 410px) {font-size: var(--fs-h1);}
        @media (min-width: v.$bp-mobile) {font-size: calc(0.9*var(--fs-h1));}
        @media (min-width: 500px) {font-size: var(--fs-h1);}
    }

    &__title span {
        color: v.$clr-accent;
    }

    &__paragraph {
        margin: 0;
        font-size: var(--fs-extra-big);
    }

    &__paragraph_2 {
        margin-top: 0.8em;
    }

    &__add-icon, &__watched-icon {
        margin: 0 0.25em;
        vertical-align: middle;
    }

    &__add-icon {
        height: 1.75em;
    }

    &__watched-icon {
        height: 1.25em;
    }
}