@use "/src/shared/styles/variables.scss" as v;

.nav {
  display: none;
  @media (min-width: v.$bp-laptops) {
    display: block;
  }
  &_show {
    @media (min-width: v.$bp-tablets) and (max-width: v.$bp-laptops) {
      display: block;
    }
  }

  &_hide {
    @media (min-width: v.$bp-tablets) and (max-width: v.$bp-laptops) {
      display: none;
    }
  }
}
