@use "/src/shared/styles/variables.scss" as v;

.sidebar {
  display: flex;
  flex-direction: column;

  height: 100%;
}

// .topSection {
//   & > * {
//     margin-bottom: 1.25rem;
//   }
// }

.initiallyShown,
.initiallyHidden {
  & > * {
    margin-bottom: 1.25rem;
  }
}

.initiallyShown {
  display: block;

  @media (min-width: v.$bp-laptops) {
    display: none;
  }
}

.initiallyHidden {
  display: none;

  @media (min-width: v.$bp-laptops) {
    display: block;
  }
}

.open {
  @media (min-width: v.$bp-tablets) and (max-width: v.$bp-laptops) {
    display: block;
  }
}

.closed {
  @media (min-width: v.$bp-tablets) and (max-width: v.$bp-laptops) {
    display: none;
  }
}
