@use "../../variables.scss" as v;

// Profile styles
.profile {
  // Add styles as needed
}

// Top container styles
.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // 'top' is not a valid value for align-items
  margin-bottom: 2rem;
}

// Title styles
.title {
  max-width: 70%;
  margin: 0;

  color: v.$clr-font-light;
  font-size: var(--fs-h4);
  font-weight: v.$fw-reg;
}

// Max width styles
.maxWidth100 {
  max-width: 100%;
}

// Out button styles
.outBtn {
  padding: 0 0 0.5em 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-weight: v.$fw-bold;
  font-size: var(--fs-extra-big);
  text-decoration: underline;
  color: v.$clr-accent;
}

// Form styles
.form {
  // Add styles as needed
}
