@use "/src/shared/styles/variables.scss" as v;

.container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0.3em;
  margin-top: 0.3em;
}

.emoji {
  width: 1.3rem;
}

.rating {
  display: flex;
  align-items: flex-start;
  margin-left: 0.3em;
}

.maxRating {
  font-size: var(--fs-small);
  margin-left: 0.1em;
}
