@use "../../../app/styles/variables" as v;

.container {
  padding: 0;
  margin: 0;
  margin-top: 60px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item {
  padding: 0;
  border-radius: 6px;

  list-style: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em 0.75em;

  @media (min-width: v.$bp-tablets) {
    justify-content: start;
  }

  &:before {
    content: "";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin-right: 1em;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/watchlist_icon.svg);
  }

  &:hover {
    background-color: v.$clr-semi-dark;
  }
}
