@use "/src/shared/styles/variables.scss" as v;

.description {
  &--movie {
    margin: 0.3em 0 0;
    padding: 0 0.625em;
  }

  &--actor {
    margin: 0.75em 0 0.75em;
    padding: 0 0.75em 0 0.75em;
  }

  &--year {
    font-weight: v.$fw-light;
    margin: 0;
    padding: 0 0.625em 0.625em;
  }

  &--character {
    font-size: var(--fs-middle);
    margin: 0.75em 0 0;
    padding: 0 0.75em 0.75em;
  }
}
