@use "/src/shared/styles/variables.scss" as v;

.grid {
  padding: 0;
  margin: 0;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;

  @media (min-width: v.$bp-laptops) {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 20px;
  }

  @media (min-width: v.$bp-large) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  }
}
