@use './variables' as v;

#root {
    width: 100%;
}

.App {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: v.$clr-dark;

    &__sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        flex: 2 2 15%;
    }

    &__home {
        flex: 2 2 80%;
    }
}
