@use './variables' as v;

.app {
    max-width: v.$max-width;
    min-width: v.$min-width;
    
    width: 100%;
    margin: 0 auto;

    &__header {
        position: sticky;
        top: 0;

        background-color: v.$clr-font-black;
    }

    &__main {
        position: relative;
        min-height: calc(100vh - var(--header-height));
        background-color: rgba(v.$clr-light, 0.13);

        @media (min-width: v.$bp-laptops) {
            min-height: 100vh;
        }
    }

    &__container {
        width: 92%;
        margin: 0 auto;
    }

    &__main-wrapper {
        
    }

    &__main-section {

    }

    &__main-section_sidebar {
        background-color: v.$clr-dark;
        position: absolute;
        left: 0;
        top: 0;

        width: 100vw;
        
        transform: translateX(-100%);
        transition: transform 0.15s ease-out;
        
        @media (min-width: v.$bp-laptops) {
            height: calc(100vh - var(--header-height));
            width: unset;
            position: sticky;
            transform: translateX(0);
        }

        @media (min-width: v.$bp-laptops) {
            position: static;
            transform: translateX(0);
        }

        &.open {
            transform: translateX(0);
        }
    }

    &__sidebar {

        @media (min-width: v.$bp-laptops) {

        }
    }

    &__main-section_page {
        padding: 2em 0;
    }

    &__page {

    }

}