@use './variables' as v;

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

:root {
  font-family: v.$ff-primary;
  font-size: var(--fs-reg);
  line-height: 1;
  font-weight: v.$fw-reg;

  color-scheme: light dark;
  color: v.$clr-font-light;
  background-color: v.$clr-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: v.$min-width;
  min-height: 100vh;
}


button {
  font-family: inherit;
  font-weight: v.$fw-bold;
  font-size: var(--fs-reg);
  line-height: 1;
  background-color: inherit;
  cursor: pointer;
}

button:hover {

}
button:focus,
button:focus-visible {
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.card-grid {
  padding: 0;
  margin: 0;
  
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;

  @media (min-width: v.$bp-mobile) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 20px;
  }

  @media (min-width: v.$bp-laptops) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 25px;
  }

  @media (min-width: v.$bp-large) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 30px;
  }
}
