// scss variables are used for non changeable values
// css variables are used for values that change depending on screen size

$ff-primary: 'Lato', sans-serif;
$ff-logo: 'Archivo', sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;

$clr-light: #fff;
$clr-semi-light: #D9D9D9;
$clr-dark: #000000;
$clr-semi-dark: #1F1F1F;
$clr-accent: #F33F3F;
$clr-accent-dark: #A41B1B;
$clr-accent-hover: #ECBFC0;
$clr-second-accent: #00BB34;

$clr-font-light: #E1E1E1;
$clr-font-dark: #9A9A9A;
$clr-font-black: #141414;

$max-width: 1920px;
$bp-large: 1200px;
$bp-laptops: 1025px;
$bp-tablets: 768px;
$bp-mobile : 480px;
$min-width: 320px;


:root {
    --fs-h1: 2.5rem; //40px
    --fs-h2: 2.375rem; //38px
    --fs-h3: 2.25rem; //36px
    --fs-h4: 2rem; //32px
    --fs-h5: 1.25rem; //20px

    --fs-extra-big: 1.25rem; //20px
    --fs-big: 1.125rem; //18px
    --fs-reg: 1rem; //16px
    --fs-middle: 0.875rem; //14px
    --fs-small: 0.625rem; //10px
}


@media screen and (max-width: $max-width) {
    :root {}
}

@media screen and (max-width: $bp-large) {
    :root {}
}

@media screen and (max-width: $bp-laptops) {
    :root {}
}

@media screen and (max-width: $bp-tablets) {
    :root {}
}

@media screen and (max-width: $bp-mobile) {
    :root {}
}

@media screen and (max-width: $min-width) {
    :root {}
}