@use "../../variables" as v;

.create-watchlist-page {
  &__title {
    margin: 0 0 1.5em;

    font-size: var(--fs-h4);
    font-weight: v.$fw-reg;
  }

  &__form {
  }

  &__form > * {
    display: block;
  }

  &__label {
    font-size: var(--fs-big);
    font-weight: v.$fw-bold;
    margin-bottom: 0.3em;
  }

  &__name,
  &__description {
    width: 100%;
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
    border-radius: 6px;
    border: 1px solid v.$clr-font-light;
    background-color: unset;

    font-size: var(--fs-extra-big);
  }

  &__name {
  }

  &__description {
    height: 7em;
    resize: none;
  }

  &__btn {
    font-size: var(--fs-big);
    font-weight: v.$fw-bold;
    color: v.$clr-font-black;

    padding: 0.6em 3em;
    border-radius: 6px;
    border: none;
    background: v.$clr-accent;
  }
}
