@use "/src/shared/styles/variables.scss" as v;

.container {
  position: relative;
  height: 100%;
}

.header {
  padding: 1em 0 1em 0.25 * 1em;
  border-top: 1px solid rgba(217, 217, 217, 0.3);
  margin: 1em 0 0;

  text-align: center;

  font-size: var(--fs-h5);
  color: v.$clr-font-dark;

  @media (min-width: v.$bp-tablets) {
    text-align: start;
  }
}
